<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Transactions History</h1>
      </div>
      <div class="">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
          </tr>
          </thead>
          <tbody>
          <tr [class.table-active]="isCurrent(transaction.id)" *ngFor="let transaction of transactions" class="pointer"
              (click)="getById(transaction.id)">
            <th scope="row">{{transaction.id}}</th>
            <td><span class="badge" [ngClass]="isReject(transaction.status)">{{transaction.status}}</span></td>
            <td><span class="badge" [ngClass]="isCredit(transaction.type)">{{transaction.type}}</span></td>
            <td>{{transaction.amount}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
